<span data-comment_id="<%= comment.id %>">
  <p>
    <strong><%= comment.commenter %></strong>
  </p>

  <p>
    <%= comment.body %>
  </p>

  <p>
    <button class="destroy-comment-button">X</button>
  </p>
</span>