<%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :Текст %><br>
      <%= f.text_area :body %>
    </p>
    <div class="">
          <%= f.submit 'Отправить', class: "create-comment-button btn btn-primary"%>
    </div>
<% end %>