<div id="errors" style="display: none">
  <h2>
    Ошибка!
  </h2>
  <p id="title_error" style="display: none">Заголовок должен содержать 5 и более символов.</p>
  <p id="text_error" style="display: none">Текст должен содержать 5 и более символов.</p>

</div>
<p>
  <label for="article_title">Название</label>
  <br>
  <input type="text" name="title" id="article_title">
</p>
<p>
  <label for="article_text">Текст</label>
  <br>
  <textarea name="text" id="article_text"></textarea>
</p>
<p>
  <label for="article_category_id">Категория</label>
  <br>
  <select name="category_id" id="article_category_id">
    <option disabled>Выберите категорию</option>
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
</p>