
  <%= render 'layouts/navbar' %>
  <div class="container airSticky_stop-block">
    <div class="index-container">
      <!--<div class="row">-->
        <div class="col-md-8">
          <div class="articles-list">
            <%= render @articles %>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="airSticky">
            <%= render 'layouts/rightbar' %>
          </div>
        </div>
      <!--</div>-->
    </div>
  </div>