<%= render 'layouts/navbar' %>
<div class="new-article text-center">
  <h1>Создание статьи</h1>

  <form id="new_article" accept-charset="UTF-8">
    <%= render 'articles/formpart' %>
    <div>
      <button class="create-article">Сохранить</button>
      <button class="undo-create-article"> <%= link_to 'Отмена', articles_path %></button>
    </div>
  </form>
</div>

