<%= render 'layouts/navbar' %>
<div class="container category-show airSticky_stop-block">
  <div class="row">
    <div class="col-md-8">
      <h1>
        <%= @category.name %>
      </h1>

      <div class="articles-list">
        <%= render @articles %>
      </div>

    </div>
    <div class="col-md-4 col-xs-12">
      <div class="airSticky">
        <%= render 'layouts/rightbar' %>
      </div>
    </div>
  </div>
</div>
