<div class="right-bar">
  <ul class="nav nav-stacked">
    <li>Категории</li>
    <ul class="second-level-nav">
      <% @categories.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
    <hr>
    <li><%= link_to 'Все статьи', articles_path %></li>
    <li><%= link_to 'Создать новую', new_article_path %></li>
  </ul>
</div>